.btn, .btn.active {
.no-rounded;	
.no-border;
	&:focus {
	outline: none;	
	-webkit-box-shadow: none;
	box-shadow: none;
	}
	&:active {
	outline: none;	
	-webkit-box-shadow: none;
	box-shadow: none;
	}
	&:focus:active {
	outline: none;	
	-webkit-box-shadow: none;
	box-shadow: none;
	}
}

.post-actions {

	.btn {
	.pad-all(0);
	.block;
	.fright;
	text-align: center;
	.bg-col(@gray);
	.col(white);
	.mag-bot(.5);
	.line-h(4);
	.h(4);
	.w(4);
	.rel;
	outline: 0;	
	border: 0;
	
		span {
		.transition(0.2s, ease-in-out);
		.abs;
		.top(0.5);
		.right(-15);
		.h(3);
		.line-h(3);
		.w(0);
		.bg-col(@grayDk);
		.col(white);
		.none;
		.rounded(4px);
		z-index: 10;
		
			&:after {
			.abs;
			.right(-1);
			top: 50%;
			.mag-top(-.5);
			content: "";
			.block;
			.border-left(@grayDk; 1);	
			.border-top(transparent; 0.5);	
			.border-bot(transparent; 0.5);
			}
		}
	
		&:hover, &:active, &:focus {	
		.bg-col(@grayDk);
		outline: 0;	
			span {
			.right(5);
			.block;
			.w(15);
			}
		}
		
		&.active {
		.bg-col(@grayDk);
		}
	}	
	
}

.panel-btns {
	
	.btn {
	.col(white);	
	.caps;
	.rel;
	outline: none;
		&:after {
		content: "\f105";
		font-family: FontAwesome;	
		.fright;
		.in-block;
		.font-size(1.6);
		.pad-right(1);
		}
		
		&.no-arrow:after {
		.none;
		}
		
		i {
		.abs;
		.left(0);
		.top(0);
		.bottom(0);
		.w(3.2);
		.line-h(3.2);
		}
	}
	
}

.action-btns {
	
	.btn {
	.col(white);	
	.caps;
	.rel;
	outline: none;
	.line-h(3.2);
	.h(3.2);
	.pad-all(0);
		&:after {
		content: "\f105";
		font-family: FontAwesome;	
		.abs;
		.right(0);
		.top(0);
		.line-h(3);
		height: 100%;
		.font-size(1.6);
		.pad-right(1);
		}
		
		i {
		.abs;
		.left(0);
		.top(0);
		.bottom(0);
		.w(3.2);
		.line-h(3.2);
		}
		
		&.no-arrow {
			&:after {
			.none;	
			}
		}
		
		&.sml-txt {
		.font-size(1.2);	
			&:after {
			.font-size(1.2);
			}
		}
	}
	
	.links-dropdown {
	
		&.inactive {
			i.fa-minus-circle {
			.none;	
			}
			
			.links-dropdown-inner {
			.h(3.2);	
			.over-hide;
			}
		}
		
		&.active {

			i.fa-plus-circle {
			.none;	
			}
			
			.links-dropdown-inner {
			height: auto;
			}
		}
	
		button {
			i {
			left: auto;
			.right(0);
			}	
		}	
		
		ul {
		.mag-bot(0);	
		.mag-left(-1.5);
		.mag-right(-1.5);
			li {
			width: 50%;
			.pad-left(1.5);
			.pad-right(1.5);
			.mag-top(1);
			.fleft;	
			}
			
			a {
			.block;
			.h(3);
			.line-h(3);
			.bg-col(@gray);
			.col(white);
			text-align: center;
			.no-text-dec;
				i {
				.block;
				.w(3);
				.h(3);
				.line-h(3);
				.bg-col(@grayDk);
				.col(@gray);
				.fleft;	
				}	
				
				&.col-red {
				.bg-col(@red);
					i {
					.bg-col(@redMid);
					.col(@red);	
					}	
					&:hover, &:active, &:focus {
					.bg-col(@redMid);	
					}
				}
				
				&.col-aqua {
				.bg-col(@aqua);
					i {
					.bg-col(darken(@aqua, 20%));
					.col(@aqua);	
					}	
					&:hover, &:active, &:focus {
					.bg-col(darken(@aqua, 20%));	
					}
				}
				
				&.col-purple {
				.bg-col(@purple);
					i {
					.bg-col(darken(@purple, 20%));
					.col(@purple);	
					}	
					&:hover, &:active, &:focus {
					.bg-col(darken(@purple, 20%));	
					}
				}
				
				&.col-blue {
				.bg-col(@blue);
					i {
					.bg-col(darken(@blue, 20%));
					.col(@blue);	
					}	
					&:hover, &:active, &:focus {
					.bg-col(darken(@blue, 20%));	
					}
				}
				
				&.col-orange {
				.bg-col(@orange);
					i {
					.bg-col(darken(@orange, 20%));
					.col(@orange);	
					}	
					&:hover, &:active, &:focus {
					.bg-col(darken(@orange, 20%));	
					}
				}
				
				&.col-green {
				.bg-col(@green);
					i {
					.bg-col(darken(@green, 20%));
					.col(@green);	
					}	
					&:hover, &:active, &:focus {
					.bg-col(darken(@green, 20%));	
					}
				}
				
				&.col-pink {
				.bg-col(@pink);
					i {
					.bg-col(darken(@pink, 20%));
					.col(@pink);	
					}	
					&:hover, &:active, &:focus {
					.bg-col(darken(@pink, 20%));	
					}
				}
			}
		}
	}
	
	&.col-aqua {
		
		.btn {
		.bg-col(darken(@aqua, 20%));
			i {
			.bg-col(@aqua);
			.col(darken(@aqua, 20%));
			}
			
			&:hover, &:active, &:focus {
			.bg-col(@aqua);	
			}
		}
	}
	
	&.col-purple {
		
		.btn {
		.bg-col(darken(@purple, 20%));
			i {
			.bg-col(@purple);
			.col(darken(@purple, 20%));
			}
			
			&:hover, &:active, &:focus {
			.bg-col(@purple);	
			}
		}
	}
	
	&.col-green {
		
		.btn {
		.bg-col(darken(@green, 20%));
			i {
			.bg-col(@green);
			.col(darken(@green, 20%));
			}
			
			&:hover, &:active, &:focus {
			.bg-col(@green);	
			}
		}
	}
	
	&.col-pink {
		
		.btn {
		.bg-col(@pink);
			i {
			.bg-col(darken(@pink, 20%));
			.col(@pink);
			}
			
			&:hover, &:active, &:focus {
			.bg-col(darken(@pink, 20%));
			}
		}
	}
	
	&.col-orange {
		
		.btn {
		.bg-col(@orange);
			i {
			.bg-col(darken(@orange, 20%));
			.col(@orange);
			}
			
			&:hover, &:active, &:focus {
			.bg-col(darken(@orange, 20%));
			}
		}
	}
	
	&.col-blue {
		
		.btn {
		.bg-col(@blue);
			i {
			.bg-col(darken(@blue, 20%));
			.col(@blue);
			}
			
			&:hover, &:active, &:focus {
			.bg-col(darken(@blue, 20%));
			}
		}
	}
	
	&.col-red {
		
		.btn {
		.bg-col(@red);
			i {
			.bg-col(@redMid);
			.col(@red);
			}
			
			&:hover, &:active, &:focus {
			.bg-col(@redMid);	
			}
		}
	}
	
	&.col-gray {
		
		.btn {
		.bg-col(@grayDk);
			i {
			.bg-col(@gray);
			.col(@grayDk);
			}
			
			&:hover, &:active, &:focus {
			.bg-col(@gray);	
			}
		}
	}
}