ul#menu-main-menu {
	
	//main menu style
	li {
	//Link style
	
		a {
		.block;
		.no-text-dec;
		.h(3);
		.line-h(3);	
		.col(white);
		text-align: center;
		.mag-bot(1);
		.mag-top(1);
		.bg-col(@grayDk);
		.col(@grayLt);
		.caps;
		
			i {
			.fleft;
			.block;
			.h(3);
			.w(3);
			.line-h(3);	
			.col(@grayLt);
			.bg-col(@gray);
			.indent(0);
			}
			
			&:hover, &:active, &:focus {
			.bg-col(@red);
			.col(@grayLt);
				i {
				.bg-col(@grayDk);
				}
			}
			
		}//Link style
	
		ul.sub-menu {
		.pad-left(0);
		list-style: none;
		
			li {
			.border-bot(@gray, 0.1);
				a {
				height: auto;
				line-height: normal;
				text-transform: none;
				.mag-bot(0);
				.mag-top(0);
				.pad-top(.5);
				.pad-bot(.5);
				.bg-col(transparent);
				.col(@grayDk);
					
					&:hover, &:active, &:focus {
					.col(@gray);
					.bg-col(transparent);
					}	
				}
				
				&.last {
				.no-border;	
					a {
					.pad-bot(0);	
					}
				}
				
				&.current-post-parent {
					a {	
					.col(@red);
					.bold;
					.bg-col(transparent);
						&:after {
						content: "\f105";
						font-family: FontAwesome;	
						.fright;
						}
						
						&:hover, &:active, &:focus {
						.col(@red);
						}	
					}
				}
				
			}
		
		}
		
		&.current_page_item, &.current-menu-item, &.current-menu-parent  {
			
			a {	
			.bg-col(@red);	
				&:hover, &:active, &:focus {
				.col(@redMid);
				}	
				
				i {
				.bg-col(@grayDk);
				}
			}
			
			ul.sub-menu {
				li{
					a {
					.bg-col(transparent);
					.normal;
					.col(@grayDk);
						&:hover, &:active, &:focus {
						.col(@gray);
						}
					}
					
					&.current_page_item, &.current-menu-item, &.current-menu-parent, &.current-post-parent {
						a {	
						.col(@red);
						.bold;
						.bg-col(transparent);
							&:after {
							content: "\f105";
							font-family: FontAwesome;	
							.fright;
							}
							
							&:hover, &:active, &:focus {
							.col(@red);
							}	
						}
					}
				}
				
			}
			
		}	
	
	}//Link style
}

body#meeting {
	ul#menu-main-menu {
		li {
			li.meetings {
				a {	
				.col(@red);
				.bold;
				.bg-col(transparent);
					&:after {
					content: "\f105";
					font-family: FontAwesome;	
					.fright;
					}
					
					&:hover, &:active, &:focus {
					.col(@red);
					}	
				}
			}
		}
	}
}

body#company-news {
	ul#menu-main-menu {
		li.company-resources {
			
			a {	
			.bg-col(@red);	
				&:hover, &:active, &:focus {
				.col(@redMid);
				}	
			
				i {
				.bg-col(@grayDk);
				}
			}
			
			ul.sub-menu {
				li {
					a {
					.bg-col(transparent);
					.normal;
					.col(@grayDk);
						&:hover, &:active, &:focus {
						.col(@gray);
						}
					}
					
					&.current_page_item, &.current-menu-item, &.current-menu-parent {
						a {	
						.col(@red);
						.bold;
						.bg-col(transparent);
							&:after {
							content: "\f105";
							font-family: FontAwesome;	
							.fright;
							}
							
							&:hover, &:active, &:focus {
							.col(@red);
							}	
						}
					}		
				}
				
			}
			
		}
	}
}

body#office-news {
	ul#menu-main-menu {
		li.office-resources {
			
			a {	
			.bg-col(@red);	
				&:hover, &:active, &:focus {
				.col(@redMid);
				}	
			
				i {
				.bg-col(@grayDk);
				}
			}
			
			ul.sub-menu {
				li {
					a {
					.bg-col(transparent);
					.normal;
					.col(@grayDk);
						&:hover, &:active, &:focus {
						.col(@gray);
						}
					}
					
					&.current_page_item, &.current-menu-item, &.current-menu-parent, &.current-post-parent {
						a {	
						.col(@red);
						.bold;
						.bg-col(transparent);
							&:after {
							content: "\f105";
							font-family: FontAwesome;	
							.fright;
							}
							
							&:hover, &:active, &:focus {
							.col(@red);
							}	
						}
					}		
				}
				
			}
			
		}
	}
}

body#events {
	ul#menu-main-menu {
		li.company-resources {
			
			a {	
			.bg-col(@red);	
				&:hover, &:active, &:focus {
				.col(@redMid);
				}	
			
				i {
				.bg-col(@grayDk);
				}
			}
			
			ul.sub-menu {
				li {
					a {
					.bg-col(transparent);
					.normal;
					.col(@grayDk);
						&:hover, &:active, &:focus {
						.col(@gray);
						}
					}
					
					&.current_page_item, &.current-menu-item, &.current-menu-parent, &.current-post-parent {
						a {	
						.col(@red);
						.bold;
						.bg-col(transparent);
							&:after {
							content: "\f105";
							font-family: FontAwesome;	
							.fright;
							}
							
							&:hover, &:active, &:focus {
							.col(@red);
							}	
						}
					}		
				}
				
			}
			
		}
	}
}

body#announcements {
	ul#menu-main-menu {
		li.company-resources {
			
			a {	
			.bg-col(@red);	
				&:hover, &:active, &:focus {
				.col(@redMid);
				}	
			
				i {
				.bg-col(@grayDk);
				}
			}
			
			ul.sub-menu {
				li {
					a {
					.bg-col(transparent);
					.normal;
					.col(@grayDk);
						&:hover, &:active, &:focus {
						.col(@gray);
						}
					}
					
					&.current_page_item, &.current-menu-item, &.current-menu-parent, &.current-post-parent {
						a {	
						.col(@red);
						.bold;
						.bg-col(transparent);
							&:after {
							content: "\f105";
							font-family: FontAwesome;	
							.fright;
							}
							
							&:hover, &:active, &:focus {
							.col(@red);
							}	
						}
					}		
				}
				
			}
			
		}
	}
}